.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.colorful-box{
  border: 1px solid black;
  box-sizing: 50px;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  justify-content: center;
}

.button{
  margin-right: 10px;
}
.textfield-main{
  margin-right: 10px;
}
.buttons-field{
  display: flex;
  justify-content: center;
}
.boxarea-main-3{
  display: column;
  justify-content: center;
}